[Unit]
Description=OpenFocuser server
StartLimitInterval=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=USERNAME
StartLimitBurst=10
StartLimitInterval=120
ExecStart=/usr/bin/openfocuser -p=0

[Install]
WantedBy=multi-user.target
