[Unit]
Description=Raspberry Pi indiserver, network and power manager via Bluetooth
StartLimitInterval=0

[Service]
Type=idle
Restart=always
RestartSec=5
User=root
StartLimitBurst=10
StartLimitInterval=120
ExecStart=/usr/bin/telescope-pi

[Install]
WantedBy=multi-user.target
