[Unit]
Description=Raspberry Pi indiserver, network and power manager via Bluetooth
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=pi
StartLimitBurst=10
StartLimitIntervalSec=120
ExecStart=telescope-pi

[Install]
WantedBy=multi-user.target
