Package: Telescope-Pi
Architecture: all
Maintainer: marcocipriani01
Depends: software-properties-common, network-manager, network-manager-gnome, python3-pip, avahi-daemon, python-dev, libbluetooth-dev, bluetooth, bluez, rfkill, openssh-server, ifconfig
Conflicts: openresolv, dhcpcd5
Priority: optional
Version: 2.0
Description: indiserver and hotspot manager for Raspberry Pi, fully controllable from BT and Android App
